@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #94A3B8;
}

body::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #334155;
  border-radius: 5px;
}

#home {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ),
  url('/home-bg.webp');
  background-position: right 45% bottom -16px;
  background-size: 120vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-catalog {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ),
  url('/bg-catalog.webp');
  background-position: right 45% bottom -16px;
  background-size: 50vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-board-sfw {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ),
  url('/bg-sfw.webp');
  background-repeat: no-repeat;
  background-position: right 25% bottom -16px;
  background-size: 450px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 0 8px 8px rgb(var(--background-end-rgb)) inset;
}

.bg-board-nsfw {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ),
  url('/bg-nsfw.webp');
  background-repeat: no-repeat;
  background-position: right 25% bottom -16px;
  background-size: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 0 8px 8px rgb(var(--background-end-rgb)) inset;
}

.quote {
  color: #789922;
}

.quotelink {
  cursor: pointer;
  color: #38bdf8;
  transition: all 200ms;
}

.quotelink:hover {
  filter: brightness(0.75);
  text-decoration: underline;
}

.deadlink {
  cursor: pointer;
  color: #F87171;
  transition: all 200ms;
}

.deadlink:hover {
  filter: brightness(0.75);
  text-decoration: underline;
}

.toggle-switch {
  position: relative;
  width: 6rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
}
 
.toggle-switch-checkbox {
  display: none;
}
 
.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}
 
.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
 
.toggle-switch-inner:before,
.toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 2rem;
  padding: 0;
  line-height: 2rem;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
 
.toggle-switch-inner:before {
  content: attr(data-yes);
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #f87171;
  color: #fff;
}
 
.toggle-switch-disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
 
.toggle-switch-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}
 
.toggle-switch-inner:after {
  content: attr(data-no);
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #334155;
  color: #fff;
  text-align: right;
}
 
.toggle-switch-switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3.9rem;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
 
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}
 
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}
