@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9761 0 0);
  --foreground: oklch(0.2809 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2809 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2809 0 0);
  --primary: oklch(0.5832 0.0731 203.7812);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7928 0.0184 229.0707);
  --secondary-foreground: oklch(0.2478 0 0);
  --muted: oklch(0.9067 0 0);
  --muted-foreground: oklch(0.4926 0 0);
  --accent: oklch(0.9504 0.0042 236.4983);
  --accent-foreground: oklch(0.2478 0 0);
  --destructive: oklch(0.6539 0.1926 25.1437);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8765 0.0112 225.9985);
  --input: oklch(0.9067 0 0);
  --ring: oklch(0.5832 0.0731 203.7812);
  --chart-1: oklch(0.6388 0.0327 229.5454);
  --chart-2: oklch(0.5724 0.0397 229.0246);
  --chart-3: oklch(0.4541 0.0304 228.6231);
  --chart-4: oklch(0.3873 0.0245 229.7891);
  --chart-5: oklch(0.3087 0.0195 229.7838);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2809 0 0);
  --sidebar-primary: oklch(0.5832 0.0731 203.7812);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9504 0.0042 236.4983);
  --sidebar-accent-foreground: oklch(0.2478 0 0);
  --sidebar-border: oklch(0.8765 0.0112 225.9985);
  --sidebar-ring: oklch(0.5832 0.0731 203.7812);
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Courier New", Courier, monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.1rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.05rem;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.1), 0rem 1px 2px -0.95px
    hsl(0 0% 0% / 0.1);
  --shadow:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.1), 0rem 1px 2px -0.95px
    hsl(0 0% 0% / 0.1);
  --shadow-md:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.1), 0rem 2px 4px -0.95px
    hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.1), 0rem 4px 6px -0.95px
    hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.1), 0rem 8px 10px -0.95px
    hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.25);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.9761 0 0);
  --card: oklch(0.2478 0 0);
  --card-foreground: oklch(0.9761 0 0);
  --popover: oklch(0.2478 0 0);
  --popover-foreground: oklch(0.9761 0 0);
  --primary: oklch(0.6388 0.0327 229.5454);
  --primary-foreground: oklch(0.2178 0 0);
  --secondary: oklch(0.3791 0 0);
  --secondary-foreground: oklch(0.9761 0 0);
  --muted: oklch(0.3092 0 0);
  --muted-foreground: oklch(0.7984 0 0);
  --accent: oklch(0.3087 0.0195 229.7838);
  --accent-foreground: oklch(0.9761 0 0);
  --destructive: oklch(0.6875 0.142 21.4566);
  --destructive-foreground: oklch(0.2178 0 0);
  --border: oklch(0.3791 0 0);
  --input: oklch(0.3092 0 0);
  --ring: oklch(0.6388 0.0327 229.5454);
  --chart-1: oklch(0.7064 0.0268 229.3065);
  --chart-2: oklch(0.6388 0.0327 229.5454);
  --chart-3: oklch(0.5724 0.0397 229.0246);
  --chart-4: oklch(0.4541 0.0304 228.6231);
  --chart-5: oklch(0.3873 0.0245 229.7891);
  --sidebar: oklch(0.2478 0 0);
  --sidebar-foreground: oklch(0.9761 0 0);
  --sidebar-primary: oklch(0.6388 0.0327 229.5454);
  --sidebar-primary-foreground: oklch(0.2178 0 0);
  --sidebar-accent: oklch(0.3087 0.0195 229.7838);
  --sidebar-accent-foreground: oklch(0.9761 0 0);
  --sidebar-border: oklch(0.3791 0 0);
  --sidebar-ring: oklch(0.6388 0.0327 229.5454);
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Courier New", Courier, monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.1rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.05rem;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.2);
  --shadow-xs: 0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.4), 0rem 1px 2px -0.95px
    hsl(0 0% 0% / 0.4);
  --shadow:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.4), 0rem 1px 2px -0.95px
    hsl(0 0% 0% / 0.4);
  --shadow-md:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.4), 0rem 2px 4px -0.95px
    hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.4), 0rem 4px 6px -0.95px
    hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 0.4), 0rem 8px 10px -0.95px
    hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0rem 0.1rem 0.5rem 0.05rem hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.bg-home {
  background-image:
    linear-gradient(to bottom, transparent, var(--color-background)),
    url("/home-bg.webp");
  background-position: right 45% bottom -16px;
  background-size: 120vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-catalog {
  background-image:
    linear-gradient(to bottom, transparent, var(--color-background)),
    url("/bg-catalog.webp");
  background-position: right 45% bottom -16px;
  background-size: 50vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-board-sfw {
  background-image:
    linear-gradient(to bottom, transparent, var(--color-background)),
    url("/bg-sfw.webp");
  background-repeat: no-repeat;
  background-position: right 25% bottom -16px;
  background-size: 450px;
  background-attachment: fixed;
  box-shadow: 0 0 8px 8px var(--color-background) inset;
}

.bg-board-nsfw {
  background-image:
    linear-gradient(to bottom, transparent, var(--color-background)),
    url("/bg-nsfw.webp");
  background-repeat: no-repeat;
  background-position: right 25% bottom -16px;
  background-size: 500px;
  background-attachment: fixed;
  box-shadow: 0 0 8px 8px var(--color-background) inset;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
